/* App is the top hierarchy CSS so can declare anything here will affect our other pages too */
html,
body 
{
  background-color: lavender;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.cardMedia
{
  height: 140;
}

.center {
  background-image: none;
  background-color: transparent;
  margin: auto;
  width: 70%;
  padding: 10px;
}

.container
{
  margin: 5% 15% 0 15%;
}

.containerFilters
{
  margin: 10% auto 0 auto;
}

.containerPagination
{
  margin: 5% 10% 10% 25%;
}

.containerRings
{
  background-image: none;
  background-color: transparent;
  margin-left: 10%;
  display: block;
  width: auto;
}

.containerSearch
{ 
  padding-left: 10%;
  padding-right: auto;
  padding-top: 5%;
  padding-bottom: 2%;
}

.navi-container
{
  margin: auto;
}